<div class="modal" id="auth-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form class="box has-background-white">
            <h2 class="title has-text-centered has-text-dark">Signin</h2>
            <div class="field">
                <p class="control">
                    <input type="email" class="input" placeholder="Email"/>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input type="password" class="input" placeholder="Password"/>
                </p>
            </div>
            <div class="field">
                <p class="control has-text-centered">
                    <button class="button is-success">Login</button>
                </p>
            </div>
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>